
.boton-nav {
    color: #B80000;
    border-color: #B80000
}

.fuenteletra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
}

.boton-body {
background-color: #B80000;
border: none;
}

.boton-naranja {
    background-color: #F4A020;
    border: none;
}